/ Game-data for js to reference
#game_data[
  data-game_id="#{@game ? @game.id : ''}" 
  data-game_state="#{@game ? @game.state : ''}" 
  data-turn_id="#{@turn ? @turn.id : ''}" 
  data-turn_state="#{@turn ? @turn.state : ''}" 
  data-allow_swap="#{@game.stock_letters.size > 6 ? true : false}"
  data-drop_pos="" 
  style="display:none"
]
= javascript_tag "init_buttons();"
