/ Game-data for js to reference
#game_data[
  data-game_id="#{@game.nil? ? 'all' : @game.id}"
  data-user_id="#{current_user.id}"
  data-game_play_time="#{@game.nil? ? '' : @game.play_time}"
  data-game_started_at="#{@game.nil? ? '' : @game.started_at.to_f * 100}"
  data-drop_pos="" 
  style="display:none"
]

