// import the CSS framework
@import "bootstrap";

// Clickable table (element)
.click-this{
  cursor: pointer;
  &:hover{
    background-color: lightgrey;
  }
}
// For form alike show-fields
.show-control {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}
div.show-control{
  display: inline-block;
  width: 20%;
}
input.show-control {
  display: inline-block;
  width: 20%;
}
// For selectpicker
.btn{
  margin-right:10px;
}
// Correction for dropdown navbar
// @media (max-width: 991px){
@include media-breakpoint-down(md){
  .navbar-toggleable-md .navbar-nav {
    margin-left: 30px;
  }
  .navbar-nav{
    margin-top: 40px;
  }
}
// Shape up to my style
body {
  background:#efdddd;
}
.bg-adrie {
  background-color: #80353f;
}
.btn-adrie {
  background-color: #80353f;
  color: #fff;
  &:hover{
    background-color: #48181e;
    color: #fff;
  }
}
.lnk-adrie {
  &:link, &:link, &:visited, &:active{
    cursor:pointer;
    text-decoration: none;
  }
}
// Too big > scrollable
.large-control{
  height: 180px;
  overflow: auto;
}
textarea.large-control{
  height: 180px;
  // resize: none;
}
// to make views framework-neutral
main {
  @extend .container;
  padding: 1rem;
  width: 100%;
  margin-top: 4rem; // accommodate the navbar
  border-radius: .25rem
  }
.container {
  background-color: #e8c9c9;
  border-radius: 0.25rem;
}
// #amTitle{
.modal-title{
  line-height: 2;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
  margin-top: 0px;
}

// for stacked modals
// @distance:40px; /* distance between stacked modals*/
// @modal-translate-z: -340px; /* The first modal translateZ value*/

// .container {
// // 	margin: 5em auto;
// }

// .btn {
//   line-height:1.5;
// }
// .modal.in {
// 	-webkit-perspective: 2000px;
// 	-moz-perspective: 2000px;
// 	-ms-perspective: 2000px;
// 	-o-perspective: 2000px;
// 	perspective: 2000px;
// }

// .modal.in .modal-dialog.aside {
// 	-webkit-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
// 	-ms-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
// 	-o-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
// 	transform: scale(0.8) rotateY(45deg) translateZ(-340px);
// 	-webkit-transform-style: preserve-3d;
// 	-ms-transform-style: preserve-3d;
// 	-o-transform-style: preserve-3d;
// 	transform-style: preserve-3d;
// }

// .modal.in .modal-dialog.aside.aside-1 {
// 	-webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
// 	-ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
// 	-o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
// 	transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
// }

// .modal.in .modal-dialog.aside.aside-2 {
// 	-webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
// 	-ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
// 	-o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
// 	transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
// }

// .modal.in .modal-dialog.aside.aside-3 {
// 	-webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
// 	-ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
// 	-o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
// 	transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
// }

// .modal.in .modal-dialog.aside.aside-4 {
// 	-webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
// 	-ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
// 	-o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
// 	transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
// }

// .modal.in .modal-dialog.aside.aside-5 {
// 	-webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
// 	-ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
// 	-o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
// 	transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
// }