@import "bootstrap";

body {
    background: #efdddd;
}
// Games summary
.game-item{
  height: 4.2rem;
  background-color: #af5b5a;
  border-radius: 0.25rem;
  margin: 6px -8px;
  color: white;
  padding:0.1rem 0.5rem;
  white-space: nowrap;
  &:hover{
    background-color: #ad6b6b;
  }
  .line{
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 85%;
    // overflow-x: visible;
    span {
      font-size: 85%;
      // font-weight: bolder;
      color: #ffcaca;
    }
  }
}

// Play board
// #game-area {
  // & div.row > div {
  #game-area div.row > div {
    padding: 0px;
  }
  // #board and #controls specific
  #board{
    border: 0px solid black;
    table{
      // width: 100%;
      overflow: hidden;
      border-collapse: separate;
      border-spacing: 1px;
      border: 2px solid grey;
      td{
        padding: 1px;
        text-align: center;
        background-repeat: no-repeat; background-size: 70%;
      }
      td.cel_bg{background-color: #166516;};
      td.cel_2_l{background-image: url(xspel_2_l_n.png); background-color: #add8e6};
      td.cel_3_l{background-image: url(xspel_3_l_n.png); background-color: #0000ff};
      td.cel_2_w{background-image: url(xspel_2_w_n.png); background-color: #ffc0cb};
      td.cel_3_w{background-image: url(xspel_3_w_n.png); background-color: #ff0000};
    }
    // For extra small screens
    @include media-breakpoint-down(xs){
      .sized{
        margin: -15px -14px 0px -15px;;
      }
    }
  }
  #controls, #swap_area{
    border: 0px solid green;
    .shelf {
      border:0px solid black;
      table {
        overflow: hidden;
        border-collapse: separate;
        border-spacing: 1px;
        border: 2px solid #f59f59;
      }
      td {
        padding: 1px;
        overflow: hidden;
        text-align: center;
      }
    }
    .play_btns {
      table {
        width:100%;
        // border: 2px solid #f59f59;
      }
      td {
        width:33%;
      }
      .play_btn {
        background-color:#e8af65;
        border-radius:10px;
        border:1px solid blue;
        text-align:center;
        font-variant:small-caps;
        font-weight:bold;
        color:black;
        cursor:pointer;
        // padding:0px -10px;
      }
      .disable {
        font-weight:normal;
        color: grey;
        cursor:not-allowed;
      }
    }
    // For small screens
    @include media-breakpoint-down(sm){
      // margin-left: -12px;
      .sized{
        margin: 0px;
      }
      .shelf {
        border:0px solid red;
        display:inline-block;
        width:57%;
      }
      .play_btns { 
        border:0px solid green;
        display:inline-block;
        width:43%;
        & div{
          margin-bottom: 3px
        }
      }
    }
    // For extra small screens
    @include media-breakpoint-down(xs){
      .sized{
        margin: 0px -14px 0px -15px;
      }
    }
  }
  #gamers {
    table {
      width:100%;
      margin-top:10px;
      .name, .state {
        padding-left:10px;
      }
      .score {
        padding-right:10px;
        text-align:right;
      }
    }
  }
  // For #board and #controls
  div.play_letter, div.letter {
    position: relative;
    border-radius: 16%;                    /* werkt niet in android emulator */
    background-color: #fdff7a;
    border: 1px solid grey;
    text-align:center;
    cursor:pointer;
    div.play_points, div.points {
      vertical-align: top;
      float: right;
      font-size: 10px;
      line-height: 12px;
      margin: 1px 2px -6px -6px;
    }
  }
// }
#blank_area {
  table {
    border-collapse: separate;
  }
  td {
    background-color:#ab5b5b;
    font-size:18px;
    color:black;
    text-align: center;
    &:hover {
      background-color:#ce9090;
      cursor:pointer;
    }
  }
}