// Games summary
.game-item{
  height: 4rem;
  background-color: #af5b5a;
  border-radius: 0.25rem;
  margin: 6px -8px;
  color: white;
  padding:0.3rem;
  white-space: nowrap;
  &:hover{
    background-color: #ad6b6b;
  }
  .line{
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 85%;
    // overflow-x: visible;
    span {
      font-size: 85%;
      // font-weight: bolder;
      color: #ffcaca;
    }
  }
}

// Play board
$board_max: 596px;
$boardcel_max: 36px;
#game-area{
  @media (max-width: 480px) {
    #controls{
      margin-top:15px;
      margin-left:-30px;
      margin-right:-30px;
    }
    .sized{
      margin: -15px;
    }
  }
  #board{
    border: 1px solid black;
    // height: $board_max;
    // width: $board_max;
    padding: 0px;
    margin: auto;
    table{
      width: 100%;
      overflow: hidden;
      border-collapse: separate;
      border-spacing: 1px;
      border: 2px solid grey;
      td{
        padding: 1px;
        border: 1px solid brown;
        // height: 100%;
        // width: 100%;
        // width: $boardcel_max;
        // height: $boardcel_max;
        line-height: 38px;
        text-align: center;
        background-repeat: no-repeat; background-size: 70%;
      }
      td.cel_bg{background-color: #166516;};
      td.cel_2_l{background-image: url(xspel_2_l_n.png); background-color: #add8e6};
      td.cel_3_l{background-image: url(xspel_3_l_n.png); background-color: #0000ff};
      td.cel_2_w{background-image: url(xspel_2_w_n.png); background-color: #ffc0cb};
      td.cel_3_w{background-image: url(xspel_3_w_n.png); background-color: #ff0000};
    }
  }
  #controls{
    border: 1px solid green;
    height: 250px;
    background-color:orange;
  }
}
