h4=(t :want_to_play)
= link_to t(:do_yes), game_gamer_invite_path(@game, @gamer, answer: 'oke'), class: 'btn btn-adrie'
= link_to t(:do_no), game_gamer_invite_path(@game, @gamer, answer: 'nok'), class: 'btn btn-adrie'
